---
layout: default
snail_trail: disabled
monetate_page_type: index-main
meta:
  title: Crossroads
  description: Whatever your thoughts on church or your beliefs about God, you're welcome here.
  image:
    url: "//crds-media.imgix.net/7EFusaW9y0WFSxO9KCdumH/2edc127ce50430b3894692f7075122fb/spiritual-outfitters.jpg"
paginate:
  articles:
    per: 15
    offset: 1
    limit: 1
    sort: published_at desc
  perspectives:
    per: 3
    limit: 1
    sort: published_at desc
  topics:
    per: 5
    limit: 1
    sort: published_at
  series:
    per: 1
    limit: 1
    sort: starts_at desc
  messages:
    per: 3
    limit: 1
    sort: published_at desc
  home_collection:
    collections:
      - articles
      - videos
      - episodes
    per: 10
    limit: 1
    sort: published_at desc
  episodes:
    per: 3
    limit: 1
    sort: published_at desc
  podcasts:
    per: 6
    offset: 1
    limit: 1
---

{% include home/_jumbotron.html %}

<section class="soft-top bg-blue soft-bottom bg-topo push-bottom" style="position: relative; top: -1.5rem;">
  <div class="container">
    <div>
      <div class="col-sm-8 soft-ends">
        <div>
          {% assign homepage_cards = site.content_blocks | where: 'slug', 'homepage-cards' | first %}
          {{ homepage_cards.content_block }}
        </div>
      </div>
      <div class="col-sm-4 soft-ends">
        {% include home/_our-best-content.html %}
      </div>
    </div>
  </div>
</section>

{% comment %}Your Impact Will be Massive{% endcomment %}
<section class=" soft-ends">
  <div class="container">
    <div class="text-center push-bottom mobile-push-half-sides">
      <h2 class="component-header-box text-blue">Your Impact Will be Massive</h2>
    </div>
    <div class=" push-bottom">
      <div class="col-sm-8">
        <a href="https://share.hsforms.com/1_UzcT1lIRrmQPQ9fBVxt4A2dls1"><img class="push-ends soft-sides" src="//crds-media.imgix.net/1YXgKAhw35Oj1bSjoP3mjl/e81993ffa50d62787c9d26090683fd4d/undivided-home-page-callout2.jpg" alt="Undivided: A Journey on Race, Relationship and Reconciliation" /></a>
      </div>
      <div class="col-sm-4">
        {% assign the_good_news = site.content_blocks | where: 'slug', 'good-news-home' | first %}
        {{ the_good_news.content_block }}
      </div>
    </div>
  </div>
</section>


{% comment %}Get Equipped: Watch the Weekend{% endcomment %}
<section class="bg-tan-light soft-bottom">
  <div class="container soft-ends hard-sides">
    <div class="text-center push-bottom soft-ends mobile-push-half-sides">
      <h2 class="component-header-box text-orange">Get Equipped: Watch the Weekend</h2>
    </div>
    <div class="col-md-8">
      {% include home/_latest-message.html %}
    </div>
    <div class="col-md-4">
      {% include home/_current-series.html %}
      <div>
        <a href="/watch/#ways-to-watch"><img src="//crds-media.imgix.net/34df7tsGquaZaP97trNmAL/a71dee0a17b96c679c4c9ba005a55b3b/many-ways-to-watch-monetate2.jpg?auto=format,compress&w=1800" /></a>
      </div>
    </div>
  </div>
</section>

{% comment %}Kids Club Jumbotron{% endcomment %}
{% include home/_kids-club-jumbotron.html %}

{% comment %}Gear Up for Your Adventure{% endcomment %}
<section class="bg-orange">
  <div class="bg-topo-50">
    {% assign gear_up = site.content_blocks | where: 'slug', 'gear-up-home' | first %}
    {{ gear_up.content_block }}
  </div>
</section>

{% comment %}Articles, Podcasts, & More{% endcomment %}
<section class="bg-tan-light">
  <div class="container">
    <div class="text-center push-bottom">
      <div class="push-bottom text-blue mobile-push-half-sides">
        <h2 class="component-header-box text-orange">Articles, Podcasts, & More</h2>
      </div>
      <p class="text-blue font-family-serif font-size-large">Unfiltered & authentic takes on life</p>
    </div>
    <div class="col-md-8">
      {% assign most_recent = page.home_collection.docs | sort: "published_at" | reverse | first %}
      <a href="{{ most_recent.url }}" class="overlay-card">
        <div class="bg-overlay"></div>
        <div class="overlay-card-image">
          <div class="beige-overlay"></div>
          <img src="{{ most_recent.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
            sizes="{{ site.image_sizes.three_fourths }}" data-optimize-img />
        </div>
        <div class="overlay-card-content">
          <p class="overlay-card-category">{{ most_recent.category.title }}</p>
          <h2 class="overlay-card-title">{{ most_recent.title }}</h2>
          <p class="overlay-card-author">{{ most_recent.author.full_name }}</p>
          {% include _media-label.html source=most_recent %}
        </div>
      </a>

      <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-carousel-id="carousel-3cm29">
        <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">

          {% assign recent = page.home_collection.docs | slice: 1, 2 %}
          {% for item in recent %}

          {% assign author = item.author | get_doc %}
          {% assign category = item.category | get_doc %}
          <div class="card carousel-cell card-2x">
            <a class="relative" href="{{ item.url }}">
              {% if item.content_type == "article" or "video" %}
              <div class="beige-overlay"></div>
              {% endif %}

              {% assign image = item.image.url %}

              {% if item.content_type == 'episode' %}
                {% assign image =item.podcast.image.url %}
              {% endif %}
              {% if image == blank %}
                {% assign image = item.bg_image.url %}
              {% endif %}
              {% assign recommended_collection=site.messages %}
              {% include _video-player-card.html %}
              {% if image %}
                <img src="{{ image | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}" sizes="{{ site.image_sizes.cards_2x }}" data-optimize-img>
              {% else %}
                <img src="{{ site.default_image | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}" sizes="{{ site.image_sizes.cards_2x }}" data-optimize-img>
              {% endif %}
            </a>

            <div class="card-block hard soft-quarter-top">
              <a class="text-orange font-size-smaller font-family-base-mid text-uppercase" href="{{ category.url }}">{{
                category.title }}</a>
              <h3 class="component-header flush">
                <a href="{{ item.url }}">{{ item.title }}</a>
              </h3>
              <p class="card-text soft-quarter-top">
                <a class="text-gray-light font-size-smaller" href="{{ author.url }}">{{ author.full_name }}</a>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <crds-sign-up title="Sign Up for the Weekly Digest" content="Get our latest content, delivered straight to your inbox, every week." onClick="$('#subscribeModalForm').modal(); return false;"></crds-sign-up>
      <div class="soft-ends">
        {% include home/_content-menu.html %}
      </div>
    </div>
  </div>
</section>

{% include _subscribe-modal.html %}

{% comment %}Make a difference{% endcomment %}
{% include home/_you-are-needed.html %}

{% comment %}Ready to start your adventure?{% endcomment %}
<section class="bg-orange">
  <div class="container soft-ends text-center">
    {% assign homepage_sign_up_cta = site.content_blocks | where: 'slug', 'homepage-sign-up-cta' | first %}
    {{ homepage_sign_up_cta.content_block }}
  </div>
</section>

<!-- Trigger for Hotjar to start tracking visitors to home page who are unauthenticated -->
<script>
  if (window.hj) {
    var triggerTimer = setInterval(hotJarTrigger, 1000);
    function hotJarTrigger() {
      if (window.hj.scriptLoaded == true) {
        hj("trigger", "track_unauthenticated_homepage_users");
        triggerFired();
      }
    }
    function triggerFired() {
      clearInterval(triggerTimer);
      console.log("unauthenticated user - hotjar trigger");
    }
  }
</script>

<script>
  window.env = {
    gatewayServerEndpoint: '{{ site.gateway_server_endpoint }}',
    streamScheduleEndpoint: '{{ site.stream_schedule_endpoint }}'
  };

  document.addEventListener("deferred-js-ready", countdownInit);

  if (window.deferredJSReady) {
    countdownInit();
  }

  function countdownInit() {
    var c = new CRDS.Countdown();
    c.getEventStatus();
  }
</script>

{% javascript_link_tag autoplay async %}
{% javascript_link_tag skeleton async %}

<!-- we are crossroads -->
