---
layout: container-fluid
permalink: /h
snail_trail: logged-in
paginate:
  home_collection:
    collections:
      - messages
      - articles
      - videos
      - episodes
    per: 11
    limit: 1
    sort: published_at desc
  messages:
    per: 1
    limit: 1
    sort: published_at desc
  podcasts:
    per: 4
    limit: 1
  series:
    per: 4
    limit: 1
    sort: starts_at desc
---
<!-- Homepage Banner -->
{% assign homePageBanner = site.content_blocks | where: 'slug', 'home-page-promo-banner' | first %}
{{ homePageBanner.content_block }}

<!-- Jumbotron -->
<section class="jumbotron jumbotron-media jumbotron-overlay hard-top"
  style="background-image: url('//crds-media.imgix.net/6gWC5HMFaoQvmEkuMqWOeF/bc288c31f87a72a80e9a53de1ceb96cf/media-landing-bg.jpg?{ site.imgix_params.placeholder }');"
  data-optimize-bg-img
  data-hero-image
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8 text-left">
        <!-- Greeting -->
        <div class="greeting-skeleton">
          <crds-greeting default-name="friend"></crds-greeting>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 text-left">
        <hr class="visible-xs visible-sm flush-top flush-bottom border-light-gray" />
        <div class="col-xs-6 col-md-6 hard-left push-bottom push-top">
          <ul class="list-unstyled font-size-small font-family-base">
            <li><a class="text-orange" href="{{ site.url }}/profile/personal">My Profile</a></li>
            <li><a class="text-orange" href="{{ site.url }}/me/giving">My Giving</a></li>
            <li><a class="text-orange" href="{{ site.url }}/mygroups">My Groups</a></li>
            <li><a class="text-orange" href="{{ site.focus_mission_url }}">My Trips</a></li>
<!--              Commented out until the new camp service is ready -->
<!--            <li><a class="text-orange" href="https://crds.gomethod.app/login">My Camps</a></li>-->
            <li><a class="text-orange" style="pointer-events: none; cursor: default" href="#">My Camps</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-6 hard-left push-bottom push-top">
          <ul class="list-unstyled font-size-small font-family-base">
            <li><a class="text-orange" href="{{ site.url }}/serve-signup">Sign Up To Serve</a></li>
            <li><a class="text-orange" href="{{ site.url }}/mycamps">My Student Camps</a></li>
            <li><a class="text-orange" href="{{ site.url }}/event-checkin">Event Check In</a></li>
            <li><a class="text-orange" href="{{ site.url }}/childcare">Event Childcare</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Most Recent / Featured Media -->
<section class="container push-top">
  <div class="row">
    <!-- Featured -->
    <div class="col-md-8 overlap-header">
      {% assign features = page.home_collection.docs | slice: 0, 3 %}
      {% for item in features %} 
      {% include _overlay-card.html autoplay=true %}
      {% endfor %}
    </div>

    <div class="col-md-4" data-automation-id="series-section">
      <!-- Current Message -->
      <div class="push-bottom">
        <hr class="flush-top push-half-bottom">
        <h2 class="flush-top font-size-base text-gray-light">current message</h2>

        {% assign home_messages = page.messages.docs %}
        {% for message in home_messages %}
        {% assign item = message %}
        <div class="media featured">
          <div class="media-body">
            <h5 class="component-header flush-ends">
              <a href="{{ message | media_url }}" data-automation-id="message-title">{{ message.title }}</a>
            </h5>
            <div class="soft-quarter-top font-size-smaller flush-bottom" data-automation-id="message-description">
              {{ message.description | markdownify | strip_html | truncatewords: 15 }}
            </div>
            <a href="{{ message | media_url }}" class="btn btn-primary btn-sm push-half-top"
              data-automation-id="watch-message-button">Watch
              now</a>
          </div>
          <a href="{{ message | media_url }}" class="push-half-bottom" data-automation-id="message-video">
            <div class="media-video">
              <img class="media-img"
                src="{{ message.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
                sizes="{{ site.image_sizes.one_fourth }}" data-optimize-img />
              {% include _video-player-card.html autoplay=true thumbnail=true %}
              <!-- <svg class="media-play-btn icon icon-5 text-white" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#play-thin"></use>
              </svg> -->
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <!-- Current Series -->
      {% if page.series.docs.size != 0 %}
      <hr class="push-half-bottom" />
      <h2 class="flush-bottom flush-top font-size-base text-gray-light">
        current series
      </h2>
      {% assign featured = page.series.docs | first %} {% assign
      unfeatured_series = page.series.docs | slice: 1, 3 %} {% include
      media/_media-object-featured.html %} {% endif %}

      <!-- TV App CTA -->
      <hr class="push-bottom">
      <a href="/tvapp/" class="portrait-card-default"
        style="background-image: url('//crds-media.imgix.net/1ZOn0vFpOE5Zqd8PqMxKvC/3a48bf03c46eb64a4c7427714d0444e6/ad--tv-app--portrait-card--bg_2x.png?auto=format,compress&w=1600')" data-optimize-bg-img>
        <div class="portrait-card-content">
          <p class="portrait-card-lead text-uppercase">get the tv app</p>
          <h2 class="portrait-card-title font-family-condensed-extra text-uppercase">crossroads tv</h2>
        </div>
      </a>

      <!-- Group List: Desktop -->
      <div class="hidden-xs hidden-sm push-top">
        <crds-group-list></crds-group-list>
      </div>
    </div>
  </div>
</section>

<!-- Happenings -->
<section class="container">
  <div id="phantom-lake" class="row">
    <div class="col-md-12">
      <div class="site-happenings-skeleton">
        <crds-happenings-horizontal></crds-happenings-horizontal>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-12">
      <crds-tithe-challenge></crds-tithe-challenge>
    </div>
  </div>
</section>

<!-- Recommended Content: Life Stage -->
<section class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="recommended-content-skeleton">
        <crds-recommended-content></crds-recommended-content>
      </div>
    </div>
  </div>
</section>

<!-- Groups List: Mobile -->
<section class="container hidden-lg hidden-md push-bottom">
  <div class="row">
    <div class="col-md-8">
      <crds-group-list></crds-group-list>
    </div>
  </div>
</section>

<!-- Monetate CTA -->
<section class="container">
  <div id="monetate-cta" class="row"></div>
</section>

<!-- More Content -->
<section class="container">
  <div class="row">
    <!-- Overlay Cards -->
    <div class="col-md-8">
      <hr class="push-half-bottom" />
      <h2 class="flush-top font-size-base text-gray-light">latest</h2>

      {% assign below_the_fold = page.home_collection.docs | slice: 4 %} 
      {% for item in below_the_fold %}
      {% include _overlay-card.html %} 
      {% endfor %}

      <!-- Content Cards -->
      <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-carousel-id="carousel-3cm29">
        <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">
          {% assign above_the_fold = page.home_collection.docs | slice: 5, 10 %}
          {% for item in above_the_fold %} 
          {% include _media-card.html autoplay=true carousel=true %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Podcast Episodes -->
    <div class="col-sm-12 col-md-4">
      <hr class="push-half-bottom" />
      <h2 class="flush-top font-size-base text-gray-light">our podcasts</h2>

      <div class="push-bottom soft-bottom">
        {% assign featured_podcast = page.podcasts.docs | slice: 0 %} {% for
        featured in featured_podcast %} {% include
        media/_media-object-featured.html media_type="podcast" %}
        <hr />
        {% endfor %} {% assign unfeatured_podcasts = page.podcasts.docs | slice:
        1, 4 %} {% for media in unfeatured_podcasts %} {% include
        media/_media-object.html media_type="podcast" %} {% unless forloop.last
        %}
        <hr />
        {% endunless %} {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- Music -->
<section class="container soft-half push-bottom">
  <hr class="push-half-bottom" />
  <h2 class="flush-top font-size-base text-gray-light">
    latest music releases
  </h2>
  <div class="card-deck carousel text-center" data-crds-carousel="mobile-scroll">
    <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">
      {% assign album_card = site.albums | sort: "published_at" | reverse %} {%
      for album in album_card limit: 5 %}
      <div class="album-container card carousel-cell flush hard">
        {% include _album-card.html %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Topics -->
<section class="container soft-half push-bottom">
  <hr class="push-half-bottom" />
  <h2 class="flush-top font-size-base text-gray-light">explore our topics</h2>

  <div class="card-deck carousel text-center" data-crds-carousel="mobile-scroll">
    <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">
      {% for topic in site.categories %}
      {% if topic.title != "Student Ministry" and topic.title != "Kids' Club" %}
      <div class="card carousel-cell topic-card-simple">
        <div class="bg-overlay"></div>
        <a href="{{ topic.url }}" class="topic-card-content">
          <h2 class="font-family-condensed-extra text-uppercase font-size-h4 topic-card-simple-title">
            <span>{{ topic.title }}</span>
          </h2>
          <img class="topic-card-img" src="{% if topic.image.url %}{{ topic.image.url | imgix: site.imgix }}?auto=compress&w=500{% else %}{{
              site.default_image | imgix: site.imgix
            }}{% endif %}" />
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<script>
  window.env = {
    gatewayServerEndpoint: "{{ site.gateway_server_endpoint }}",
    streamScheduleEndpoint: "{{ site.stream_schedule_endpoint }}"
  };
  document.addEventListener("deferred-js-ready", countdownInit);
  if (window.deferredJSReady) {
    countdownInit();
  }
  function countdownInit() {
    var c = new CRDS.Countdown();
    c.getEventStatus();
  }
</script>

<!-- Trigger for Hotjar to start tracking visitors to home page who are authenticated -->
<script>
   if (window.hj) {
    var triggerTimer = setInterval(hotJarTrigger, 1000);
    function hotJarTrigger() {
      if (window.hj.scriptLoaded == true) {
        hj("trigger", "track_authenticated_homepage_users");
        triggerFired();
      }
    }
    function triggerFired() {
      clearInterval(triggerTimer);
      console.log("authenticated user - hotjar trigger");
    }
  }
</script>

<!-- Amplitude events -->

<script>
  let videos = document.getElementsByClassName("card-video-player");
  for (var i = 0; i < videos.length; i++) {
    let link = videos[i].parentElement;
    link.addEventListener("click", function (event) {
      analytics.track("Homepage Logged In Video Clicked", {
        videoURL: link.href
      });
    });
  }
</script>

{% javascript_link_tag autoplay async %} 
{% javascript_link_tag skeleton async %}
