.media-author {
  margin-top: 50px;

  .media-img-wrapper {
    margin-top: 17px;
    flex-basis: 80px;

    .img-size-5 {
      min-height: 80px;
    }
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .media-body {
    max-width: 640px;
  }
}

.social-container {
  display: flex;


  .social-btn {
    align-items: center;
    background-color: $cr-orange;
    border-radius: 50%;
    color: $cr-white;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    margin-right: 10px;
    width: 30px;

    &:focus,
    &:hover {
      background-color: $cr-orange-dark;
    }
  }

  .social-icon {
    
    height: 16px !important;
    width: auto;
  }

  .icon-color {
    fill: $cr-white !important;
  }
}