.jumbotron.locations-jumbotron {
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: $screen-sm) {
    padding-bottom: 0;
    padding-top: 135px;
  }

  h1 {
    font-size: 70px;
    line-height: 61px;
    
    @media (min-width: $screen-sm) {
      font-size: 94px;
      line-height: 86px;
    }
  }

  > .bg-overlay {
    background-image: none;

    @media (min-width: $screen-sm) {
      background-image: linear-gradient(
        to bottom,
        rgba(23, 23, 23, 0),
        $cr-black
      );
    }
  }
}

.location-top-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }

  .location-top-info-item {
    @media (min-width: $screen-md) {
      max-width: 32%;
    }
  }
}

.location-info-btn-container {
  text-align: left;

  @media (min-width: $screen-sm) {
    text-align: center;
  }
}

.location-title-row {
  background-size: cover;
  padding: 50px 0;
  position: relative;
  
  @media (min-width: $screen-sm) {
    padding: unset;
    background-image: none !important;
  }

  > .bg-overlay {
    @media (min-width: $screen-sm) {
      background: none;
    }
  }
}

.location-info-row {
  background-color: $cr-blue;
  background-image: url("//crds-media.imgix.net/1KLwsN6ilL7RO0xk6JzOsX/840e8b99340ff36bff67036909c4f856/texture-topo-dark-100_2x.png");
  background-size: cover;
  color: $cr-white;
  z-index: 2;

  @media (min-width: $screen-sm) {
    background-color: unset;
    background-image: none;
  }
}

.locations-pastor-img-container {
  min-width: 64px;

  .img-border {
    border-color: $cr-gray-lightest;
  }
}

.launch-form-header {
  color: $cr-blue;
  
  h1 {
    color: $cr-blue;
    font-family: $condensed-extra-font-face !important;
    font-weight: 500 !important;
  }
}
