<p>
  <footer class="footer" style="background-color: #d8d8d8; margin-top: 50px; padding-bottom: 10px;">
    <div class="container gotrips">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 mobile-push-top">
          <img src="https://crds-cms-uploads.imgix.net/content/images/crossroads-go-logo-white.png" class="img-full-width" alt="" title="">
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-8 push-top">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 font-family-condensed-extra font-size-base push-bottom text-uppercase">
              <p><span style="font-weight: 300;">Trips</span></p>
              <p class="flush-bottom"><a href="https://www.crossroads.net/reachout/go/bolivia">Bolivia</a></p>
              <!-- <p class="flush-bottom"><a href="https://www.crossroads.net/reachout/go/haiti">Haiti</a></p> -->
              <p class="flush-bottom"><a href="https://www.crossroads.net/reachout/go/india">India</a></p>
              <!-- <p class="flush-bottom"><a href="https://www.crossroads.net/reachout/go/new-orleans">New Orleans</a></p> -->
              <p class="flush-bottom"><a href="https://www.crossroads.net/reachout/go/nicaragua">Nicaragua</a></p>
              <p class="flush-bottom"><a href="https://www.crossroads.net/reachout/go/puerto-rico">Puerto Rico</a></p>
              <p class="flush-bottom"><a href="https://www.crossroads.net/reachout/go/south-africa">South Africa</a></p>
              <p class="flush-bottom"><a href="https://www.crossroads.net/reachout/go/all-trips">View all trips</a></p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 font-family-condensed-extra font-size-base push-bottom text-uppercase">
              <p><span style="font-weight: 300;">Resources</span></p>
              <p class="flush-bottom"><a href="https://www.crossroads.net/reachout/go/support-raising">Support Raising</a></p>
              <p class="flush-bottom"><a href="https://share.hsforms.com/1K0iu3kOyRyC5-pAliN2qeQ2dls1">Newsletter Signup</a></p>
              <p class="flush-bottom"><a href="https://www.crossroads.net/reachout/go/faqs">FAQs</a></p>
              <p class="push-top"><span style="font-weight: 300;">About Us</span></p>
              <p class="flush-bottom"><a href="https://www.crossroads.net/reachout/go/why">Why We go</a></p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 font-family-condensed-extra font-size-base push-bottom text-uppercase">
              <p><span style="font-weight: 300;">GIVE</span></p>
              <p class="flush-bottom"><a href="https://www.crossroads.net/trips/search">Give to a Trip</a></p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 font-family-condensed-extra font-size-base push-bottom text-uppercase">
              <!--<p class="flush-bottom"><a href="http://eepurl.com/cDJeVP">Sign up for our mailing list</a></p>-->
            </div>
          </div>
        </div>
      </div>
      <div class="row soft-sides" style="margin-top: 80px;">
        <p class="font-family-base font-size-smaller"><span style="font-weight: 300;">© 2017 Crossroads
             |  513.731.7400  |  gotrips@crossroads.net</span></p>
      </div>
    </div>
  </footer>
</p>
