<div aria-labelledby="Subscribe email form" class="modal fade" id="launchModalForm" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-gray-lightest">
      <div class="modal-header hard-bottom"><button aria-label="Close" class="close pull-right" data-dismiss="modal"
          type="button"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-left hard-bottom">
        <div class="form" data-role="launchform">
          <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        </div>
      </div>
      <div class="modal-footer">&nbsp;</div>
    </div>
  </div>
</div>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
    portalId: "3993985",
    formId: "{{ page.launch_form_id }}",
    css: "",
    target: "[data-role=launchform]",
    formInstanceId: 2,
    onFormReady($form, ctx) {
      $('fieldset[data-reactid=".hbspt-forms-1.1:$1"]').removeClass('form-columns-2');
      $('fieldset[data-reactid=".hbspt-forms-1.1:$2"]').removeClass('form-columns-1');
      $('fieldset[data-reactid=".hbspt-forms-1.1:$3"]').removeClass('form-columns-1');
      $('div[data-reactid=".hbspt-forms-1.1:$1.1:$firstname"]').addClass('push-half-ends');
      $('div[data-reactid=".hbspt-forms-1.1:$1.1:$lastname"]').addClass('push-half-ends');
      $('div[data-reactid=".hbspt-forms-1.1:$2.1:$email"]').addClass('push-half-ends');
      $('div[data-reactid=".hbspt-forms-1.1:$3.1:$phone"]').addClass('push-half-ends');
      $('input[data-reactid=".hbspt-forms-1.1:$1.1:$firstname.$firstname.0"]').attr('placeholder', 'First name')
      $('input[data-reactid=".hbspt-forms-1.1:$1.1:$lastname.$lastname.0"]').attr('placeholder', 'Last name')
      $('input[data-reactid=".hbspt-forms-1.1:$2.1:$email.$email.0"]').attr('placeholder', 'Email')
      $('input[data-reactid=".hbspt-forms-1.1:$3.1:$phone.$phone.0"]').attr('placeholder', 'Phone number')
      $('label[data-reactid=".hbspt-forms-1.1:$1.1:$firstname.0"]').hide()
      $('label[data-reactid=".hbspt-forms-1.1:$1.1:$lastname.0"]').hide()
      $('label[data-reactid=".hbspt-forms-1.1:$2.1:$email.0"]').hide()
      $('label[data-reactid=".hbspt-forms-1.1:$3.1:$phone.0"]').hide()
      $('div[data-reactid=".hbspt-forms-1.1:$0.0"]').addClass('launch-form-header')
      $('div[data-reactid=".hbspt-forms-1.3"]').addClass('push-top')
    }
  });
</script>
