<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 soft-ends">
  <div class="location-top-info-container">

    <div class="location-top-info-item text-left push-bottom location-info-divider">
      <span class="flush font-family-base-bold font-size-smaller text-uppercase">Service Times</span>
      <p class="flush font-size-small">{{ page.service_times | markdownify | remove: '<p>'| remove: '</p>' }}</p>
      <hr class="visible-xs">
    </div>
    <div class="location-top-info-item text-left push-bottom location-info-divider">
      <span class="flush text-uppercase font-family-base-bold font-size-smaller">Address</span>
      {% if page.address %}
      <p class="flush font-family-base font-size-small">{{ page.address | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      <a href="{{ page.map_url }}" class="text-orange" target="_blank">Get directions</a>
      {% else %}
      <p class="flush font-family-base font-size-small">Currently looking for new digs to house our ever-growing {{ page.name }} community.</p>
      {% endif %}
      <hr class="visible-xs">
    </div>
    
    <div class="location-top-info-item text-left">
      <div class="align-items-center d-flex justify-content-between">
        <div class="push-right">
          <span class="flush text-uppercase font-family-base-bold font-size-smaller">Leadership</span>
          <p class="flush font-family-base font-size-small">{{ page.community_pastor_name }}</p>
          <p class="flush font-family-base font-size-small">{{ page.name }} Community Pastor</p>
          {% assign pastor_full_name = page.community_pastor_name | split: " " %}
          <a class="text-orange" href="#community-pastor">More about {{ pastor_full_name[0] }}</a>
        </div>
        <div class="locations-pastor-img-container">
          <img class="img-border img-circle img-size-4" src="{{ page.community_pastor_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}"
          sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
        </div>
      </div>
      <hr class="visible-xs">
    </div>
  </div>
  {% if page.layout == "established" %}
  <div class="soft-ends location-info-btn-container">
    {% if page.care_link %}
    <crds-button class="push-half-right" href="{{ page.care_link }}" color="white" display="outline"
      text="Request care"></crds-button>
    {% endif %}
    {% if page.hubspot_form_id %}
    <crds-button class="push-half-right" data-target="#subscribeModalForm" data-toggle="modal" href="" color="white"
      display="outline" text="Subscribe for updates"></crds-button>
    {% endif %}
    <crds-button class="push-half-right" href="//www.facebook.com/crsrds{{ page.slug | downcase }}" color="white"
      display="outline" icon="facebook" icon-align="left" icon-color="white" icon-size="16" text="Follow"></crds-button>
    <crds-button href="//www.instagram.com/crsrds{{ page.slug | downcase }}" color="white" display="outline"
      icon="instagram" icon-align="left" icon-color="white" icon-size="16" text="Follow"></crds-button>
  </div>
  {% endif %}
</div>
