<article>
  <a href="{{ include.perspective.url }}">
    <header>
      <h3 class="title">{{ include.perspective.title }}</h3>
      <time class="published">{{ include.perspective.published_at | date: '%b %-d' }}</time>
    </header>
    <div class="content">
      {{ include.perspective.body | markdownify | strip_html | truncate: 125 }}
    </div>
    {% unless include.exclude_footer %}
      <footer>
        {% include _media-social-share.html item=include.perspective %}
      </footer>
    {% endunless %}
  </a>
</article>
