---
layout: default_footer_flush
snail_trail: disabled
title: Humans of Crossroads
paginate:
  humans_of_crossroads:
    per: 5
    sort: date desc
---

{% assign page_collection = site.collections | where: 'slug', '/humans-of-crossroads' | get_doc %}

{% for collection in page_collection %}
<section class="humans-of-crossroads">
  <div class="jumbotron jumbotron-lg flush-bottom">
    <div class="container soft-ends">
      <div class="row">
        <div class="col-sm-6 col-md-offset-1 text-left">
          <div class="hoc-breadcrumb">
            <ol class="breadcrumb text-white">
              <li><a href="/media">Media</a></li>
            </ol>
          </div>
          <h1 class="text-uppercase font-family-base-mid hoc-title">{{ collection.title }}</h1>
          <p class="font-family-serif text-white">{{ collection.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}

<section class="hoc-article-index soft-bottom"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1" data-page="humans_of_crossroads">
        <div data-page-number="{{ page.humans_of_crossroads.page }}">
          {% for item in page.humans_of_crossroads.docs %}
          <a href="{{ item.slug }}" class="row block">
            <div class="col-md-4 soft-bottom">
              <img class="hoc-index-frame" alt="Humans of Crossroads Frame" src="//crds-media.imgix.net/2x1033SDblDgO5xghanyrg/3b1f78234778063c07e93106e61db295/HoC_Paper_05.png" />
              <div class="hoc-index-img">
                <img alt="{{ item.title }}" src="{{ item.image.url | imgix: site.imgix }}?fit=facearea&facepad=10&w=310&h=310" data-optimize-img/>
              </div>
            </div>
            <div class="col-md-8 hoc-index-content mobile-soft-bottom">
              <span class="hoc-collection-title text-uppercase soft-top push-top">Humans of Crossroads</span>
              <h2 class="hoc-index-title font-family-condensed-extra text-white text-uppercase soft-half-top">{{ item.title }}</h2>
              <p>{{ item.content | truncatewords: 50 | strip_html }}</p>
            </div>
          </a>
          {% endfor %}
        </div>

        <div class="loading hide bg-gray-darkest">
          {% include _preloader.html background="gray-darkest" %}
        </div>

        <div class="text-center push-ends">
          {% include _pagination.html collection="humans_of_crossroads" remote=true link_root="humans-of-crossroads" btn-type="white-outline" %}
        </div>
      </div>
    </div>
  </div>
</section>
