.card-stamp {
  z-index: 3;
}

.card-deck--expanded-layout .card {
  flex-basis: 270px;
}

.card {
  img {
    width: 100%;
  }

  // 🛠  fixes weird overlap problem from title
  .card-text {
    position: relative;
  }
}

// Added from Media
.card-deck--expanded-layout {
  .card {
    margin-bottom: 1.5rem;

    &.card-2x {
      flex: 1 0 auto;

      @media (min-width: $screen-sm) {
        flex-basis: 50%;
        max-width: 50%;
        margin-right: 0;
        padding: 0 15px;
      }

      &:nth-child(odd) {
        padding-left: 0;
      }

      &:nth-child(even) {
        padding-right: 0;
      }
    }
  }

  &.feature-cards-3x {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;

    .card {
      max-width: 100%;
      padding: 0;
    }
  }
}

.card.card-3x {
  flex: 1 0 auto;

  @media (min-width: $screen-sm) {
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
    padding-left: 15px;
    padding-right: 15px;

    // every 4th item starting at 1
    &:nth-child(3n + 1) {
      margin-left: -15px;
    }

    // every 3rd item
    &:nth-child(3n) {
      margin-right: -15px;
    }
  }
}

// 🛠 Remove once we refactor cards
.card-deck {
  .card-img-top {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    min-height: 200px;

    @media only screen and (min-width: $screen-md + 1) {
      max-height: 150px;
      min-height: 150px;
    }
  }
}

.card img {
  width: 100%;
}

// Fix for fading placeholder images in
.card-title--overlap {
  position: relative;
  z-index: 1;
}

.card {
  .font-family-condensed-extra.font-size-h3 {
    line-height: 0.9;
  }

  > a {
    .card-block {
      .card-title:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  .font-size-smaller {
    line-height: 1.4;
  }
}

.cards-2x-sm .card {
  @media (max-width: $screen-sm) {
    float: left;
    width: 50%;

    &:nth-child(odd) {
      clear: left;
    }
  }
}

.card-block {
  .component-header {
    line-height: 0.95;
  }
}

.overlay-card {
  display: block;
  position: relative;
  margin-bottom: 2rem;

  &:hover {
    text-decoration: none;
  }

  .overlay-card-image {
    height: auto;

    img {
      width: 100%;
    }
  }

  .overlay-card-link:hover {
    color: initial;
    text-decoration: none;
  }

  // fixes an issue where subtitles were under overlay
  // remove after deploy of crds-styles is complete
.overlay-card .card-video-player {
    z-index: 0 !important;
  }

  .overlay-card-content {
    background: transparent;
    bottom: 0;
    left: 0;
    padding: 15px 15px 20px;
    position: absolute;
    right: 0;
  }

  .overlay-card-category {
    color: rgba($cr-white, 0.8);
    font-size: $font-size-smaller;
    line-height: 1.6;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  .overlay-card-title {
    color: $cr-white;
    font-family: $condensed-extra-font-face;
    font-size: 8vw;
    line-height: 0.9;
    margin-top: 0;
    text-transform: uppercase;
  }

  .overlay-card-author {
    color: $cr-gray-light;
    font-size: $font-size-small;
    margin-bottom: 0;
  }

  @media screen and (min-width: $screen-sm) {
    .overlay-card-title {
      font-size: 4vw;
    }

    .overlay-card-image {
      &::after {
        height: 145px;
        margin-top: -145px;
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    .overlay-card-content {
      padding: 30px;
    }

    .overlay-card-image {
      &::after {
        height: 200px;
        margin-top: -200px;
      }
    }
  }

  @media screen and (min-width: $screen-lg) {
    .overlay-card-title {
      font-size: 4.5rem;
      line-height: 0.8;
    }

    .overlay-card-image {
      &::after {
        height: 250px;
        margin-top: -250px;
      }
    }
  }
}

.overlay-card-xl {
  max-height: calc(100vh - 72px);
  overflow: hidden;

  .overlay-card-image img {
    object-fit: cover;
    object-position: center;
  }

  .overlay-card-content {
    @media (min-width: $screen-sm) {
      padding: 3.75rem;
    }
    .overlay-card-title {
      font-size: 4rem;
      margin-left: -0.2rem;

      @media (min-width: $screen-sm) {
        font-size: 6.875rem;
        padding-bottom: $line-height-computed/2;
      }
    }
  }
}

.overlay-feature-card-link {
  //For imgix background placeholder positioning
  display: block;
  position: relative;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.overlay-feature-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  box-sizing: border-box;
  padding: 400px 15px 30px;

  @media (min-width: $screen-md) {
    padding: 400px 0 45px;
  }

  .overlay-feature-card-content {
    position: relative;

    .overlay-feature-card-category {
      color: rgba($cr-white, 0.8);
      font-size: $font-size-small;
      line-height: 1.2;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }

    .overlay-feature-card-title {
      color: $cr-white;
      font-family: $condensed-extra-font-face;
      font-size: 4rem;
      line-height: 0.9;
      margin-top: 0;
      text-transform: uppercase;

      @media (min-width: $screen-sm) {
        font-size: 6.875rem; //110px
      }
    }

    .overlay-feature-card-author {
      color: $cr-gray-light;
      font-size: 13px;
      margin-bottom: 0;
    }
  }
}

.card-deck--expanded-layout .card.topic-card-simple {
  max-width: 20%;
}

// Topic cards
.topic-card-simple {
  padding: 0 !important;
  overflow: hidden;

  &,
  .topic-card-img {
    max-height: 282px;
  }

  .topic-card-content {
    position: relative;
  }

  .topic-card-link {
    color: $cr-white;

    &:hover,
    &:focus {
      color: rgba($cr-white, 0.85);
      text-decoration: none;
    }

    .icon {
      vertical-align: middle;
    }
  }

  .topic-card-title {
    color: $cr-white;
    margin: 170px 0 1rem;

    a {
      &:hover,
      &:focus {
        color: rgba($cr-white, 0.85);
        text-decoration: none;
      }
    }
  }

  .topic-card-simple-title {
    color: white;
    margin: 119px 0 8rem;
  }

  .topic-card-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}
