.text-gray {
  color: $cr-gray !important;
}

.text-gray-light {
  color: $cr-gray-light !important;
}

.text-gray-lighter {
  color: $cr-gray-lighter !important;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.aspect-16x9 {
  position: relative;
  height: 0;
  padding-top: 56.25%;
}

.bg-contain {
  background-size: contain;
}

.border-bottom-dashed {
  border-bottom: 1px dashed $cr-gray-lighter;
}

.font-size-smallest {
  font-size: 10px;
}

.flex-md-row {
  @media (min-width: $screen-md) {
    flex-direction: row;
  }
}

.text-orange {
  color: $cr-orange !important;
}

.text-orange-dark {
  color: $cr-orange-dark !important;
}

.text-gray-darker {
  color: $cr-gray-darker !important;
}

a.hover-text-gray-lighter:hover * {
  color: $cr-gray-lighter;
}

.bg-black {
  background-color: $cr-black;
}

.bg-gray-darkest {
  background-color: $cr-gray-darkest !important;
}

.border-white-15 {
  border: 1px solid rgba($cr-white, 0.15);
}

.font-family-base-mid {
  font-family: "acumin-pro", helvetica, arial, sans-serif;
  font-weight: 500;
}

.height-2 {
  height: 2rem;
}

.middle {
  vertical-align: middle;
}

// Bootstrap 4
.align-items-start {
  align-items: start;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.border-light-gray {
  border: 1px solid rgba($cr-gray-light, 0.3);
}

.text-uppercase {
  &.font-size-smaller {
    font-size: 13px !important;
    letter-spacing: 0.5px;
  }
}

.relative {
  position: relative !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}

a.hover-text-gray-lighter:hover * {
  color: $cr-gray-lighter;
}

.blur {
  @extend .bg-overlay;
  top: 0;
  filter: blur(5px);
}

.bg-gray-dark {
  background-color: $cr-gray-dark !important;
}

.bg-black-50 {
  background-color: rgba($cr-black, 0.5);
}

.white-faded {
  &,
  a {
    &,
    .jumbotron & {
      color: rgba($cr-white, 0.8);
    }
  }
}

.font-size-giant {
  font-size: 48px;
  @media (min-width: $screen-sm) {
    font-size: 90px;
    line-height: 0.89;
  }
}

.img-size-5 {
  min-width: 5rem;
}

.absolute {
  position: absolute !important;
}

.hard-bottom {
  padding-bottom: 0 !important;
}

svg.icon-small {
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}

.flex-sm-row {
  @media (min-width: $screen-sm) {
    flex-direction: row;
  }
}

.flex-xs-row {
  @media (min-width: $screen-xs) {
    flex-direction: row;
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.visually-hidden {
  visibility: hidden;
}

.width-100 {
  width: 100%;
}

.transparent-after {
  &::after {
    color: transparent;
  }
}

.overlap-header {
  top: -8.25rem;
  margin-bottom: -5.25rem;

  @media screen and (min-width: $screen-md) {
    top: -8.8rem;
    margin-bottom: -8.8rem;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.df-screen-md {
  @media screen and (min-width: $screen-md) {
    display: flex;
  }
}

.df-screen-sm {
  @media screen and (min-width: $screen-sm) {
    display: flex;
  }
}

.ma-ends {
  margin: auto 0;
}

.w-100 {
  width: 100% !important;
}
