---
layout: default
title: Articles
---

{% assign author = page.author | get_doc %}
{% assign topic = page.category | get_doc %}
{% assign tags = page.tags | get_doc %}

<article class="article-tpl push-bottom" data-grouping-media-type="article">
  <header class="flush-bottom">
    <img class="article-bg-img" alt="{{ page.image | alt }}"
      src="{% if page.image.url %}{{ page.image.url | imgix: site.imgix }}{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}?{{ site.imgix_params.placeholder }}"
      data-optimize-img>
    <div class="beige-overlay"></div>
    <div class="bg-overlay"></div>
    <div class="container mobile-soft-half-bottom content-position">
      <div class="row mobile-soft-half-bottom">
        <div class="col-md-8 col-md-offset-2">
          <ol class="breadcrumb text-white hard-left">
            <li><a href="/media">Media</a></li>
            <li><a href="/media/articles">Articles</a></li>
          </ol>
          <h1 class="media-title flush-top" data-title>
            {{ page.title | escape }}
          </h1>
          <p class="flush-bottom soft-half-top">
            {% if topic %}
            <a data-grouping-media-topic="{{ topic.title | downcase }}"
              href="{{ topic.url }}">{{ topic.title | upcase | append: " | " }}</a>
            {% endif %}
            <a href="{{ author.url }}" data-grouping-media-author="{{ page.author.full_name | titleize }}"
              data-author-name>{{ page.author.full_name | titleize | append: " | " }}</a>
            {% include _read-time.html duration=page.duration content_type=article %}
          </p>
          <div class="soft-top">
            {% include _media-social-share.html type='light' %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container push-top">
    <div class="row">
      {% if page.preview %}
      <main class="col-md-8 col-md-offset-2" data-body></main>
      {% else %}
      <main class="col-md-8 col-md-offset-2">
        {% if page.lead_text %}
        <div class="lead">{{ page.lead_text | markdownify }}</div>
        {% endif %}
        <div class="col-xs-6 col-sm-4 col-md-3 pull-right">
          <!-- 30 Day Challenge CTA -->
          <a href="//www.crossroads.net/30-day-challenge/" class="portrait-card-default small-cta-default article-cta bg-blue">
            <div class="portrait-card-content">
              <h2 class="portrait-card-title font-family-condensed-extra text-uppercase">30 days can change your life</h2>
              <div class="push-top">
                <crds-button href="//www.crossroads.net/30-day-challenge/" color="orange" text="Start today">
                </crds-button>
              </div>
            </div>
          </a>
          <!-- End CTA-->
          <!-- {% include _subscribe-call-to-action.html %} -->
          <div class="push-top soft-top border-top border-bottom">
            <div class="text-center">
              {% include _media-social-share.html heart=false %}
            </div>
            <p class="font-family-base-bold font-size-smaller text-center text-cyan">
              Share with others
            </p>
          </div>
          <!-- Subscrive Button w/ 30 Day CTA-->
          <div class="text-center push-half-top">
            <a href="#" role="button" class="btn btn-orange" data-toggle="modal" data-target="#subscribeModalForm"
              style="width: 135px;">Subscribe</a>
        </div>
          <!-- End Subscribe Button-->
        </div>

        {{ page.content }}

        <!-- Author Bio -->
        <section class="author-bio">
          <hr class="push-half-bottom">
          <address class="flush-bottom">
            <small class="font-size-smaller text-gray text-uppercase">
              Written by
            </small>
            <br>
            <h2 class="font-family-condensed-extra font-size-h4 text-gray-dark text-uppercase push-quarter-bottom"><a
                href="{{ author.url }}" data-grouping-media-author="{{ author.full_name }}"
                data-author-name="">{{ author.full_name }}</a></h2>
          </address>
          <a href="{{ author.url }}" data-author-link>
            <img data-author-img
              src="{{ author.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}"
              class="img-circle img-size-5" sizes="{{ site.image_sizes.avatar }}" data-optimize-img>
          </a>
          <div class="font-size-small">
            {% if page.title == "Preview" %}
            <p data-author-bio></p>
            {% else %}
            <p class="flush-bottom push-half-top">{{ author.summary }}</p>
            {% endif %}
            <div class="push-half-ends">
              {% include _author-social.html %}
            </div>
          </div>
          <small class="text-gray font-size-smaller">
            Published on
            <date data-post-date>{{ page.date | format_date }}</date>
          </small>
          <hr class="push-half-bottom">
        </section>
      </main>
      {% endif %}

      {% if page.discussion %} {% assign discussion =
      page.discussion | get_doc %}
      <div class="col-md-8 col-md-offset-2">
        {% include _collapsible-discussion-questions.html discussion=discussion %}
      </div>
      {% endif %}

      {% assign related = page | related: site, 5 | exclude: page.title %}

      {% if page.recommended_media and page.recommended_media != page %}
      {% assign recommended = page.recommended_media | get_doc %}
      {% else %}
      {% assign recommended = related | first %}
      {% endif %}

      <footer class="col-md-8 col-md-offset-2">
        <section class="soft-top">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              {% include _article-card.html post=recommended %}
            </div>
            <div class="col-xs-12 col-sm-6">

              {% if page.sign_off %}
              {% assign sign_off = page.sign_off %}
              {% else %}
              {% assign sign_off = site.sign_offs | where: "contentful_id", site.ENV['DEFAULT_SIGN_OFF_ID'] | first %}
              {% endif %}

              <div class="signoff-card">
                {% if sign_off and sign_off.background_image %}
                {% assign background_image = sign_off.background_image.url | imgix: site.imgix %}
                {% else %}
                {% assign background_image = 'https://crds-media.imgix.net/431kdnusOmv7yMibq7VdGs/15709ee9a84d2a3b4113e55cabc77c1a/sign-off-default-background.jpg' | imgix: site.imgix %}
                {% endif %}

                <div class="content" style="background-image: url('{{ background_image }}?w=600&auto=format,compress')"
                  data-optimize-bg-img>
                  <h3>{{ sign_off.title }}</h3>

                  {% if sign_off.body %}
                  {{ sign_off.body | markdownify }}
                  {% endif %}
                </div>

                <footer class="flush">
                  {% if sign_off.cta %}
                  {{ sign_off.cta | markdownify }}
                  {% endif %}
                </footer>
              </div>
            </div>
          </div>

          <div class="soft-top">
            <div class="row">

              {% if page.recommended_media and page.recommended_media != page %}
              {% assign posts = related | exclude: page.title | slice: 0, 3 %}
              {% else %}
              {% assign posts = related | exclude: page.title | slice: 1, 3 %}
              {% endif %}

              {% for post in posts %}
              <div class="col-xs-12 col-sm-4">
                {% include _article-card.html post=post %}
              </div>
              {% endfor %}
            </div>
          </div>
        </section>

        {% if topic %}
        <div class="topic-and-tags soft-top">
          <a class="topic" href="{{ topic.url }}">{{ topic.title }}</a>

          <ul class="tags list-inline">
            {% for tag in tags %}
            <li>
              <a href="{{ tag.url }}">{{ tag.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

      </footer>
    </div>
  </div>
</article>
