---
layout: default
title: Series
---
{% if page.background_image.url == nil %}
  {% assign overflow-hidden = "overflow-hidden" %}
{% endif %}

<div class="media-series-detail" data-grouping-media-type="series">
  <div class="jumbotron jumbotron-xl soft-14-top soft-2-bottom mobile-soft-top {{ overflow-hidden }}" style="background-image: url('{{ page.background_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}')" data-optimize-bg-img>
    {% if page.background_image.url == nil %}
    <div class="blur" style="background-image: url('{{ page.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}')"
      data-optimize-bg-img></div>
    <div class="bg-overlay"></div>
    {% endif %}

    <div class="jumbotron-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-sm-push-7">
            <img class="feature-img img-full-width" src="{% if page.image.url %}{{ page.image.url | imgix: site.imgix }}{% else %}{{ site.default_image }}{% endif %}?{{ site.imgix_params.placeholder_sixteen_nine }}"
              sizes="{{ site.image_sizes.podcast_thumb }}" data-optimize-img>
          </div>

          <div class="col-sm-6 col-sm-offset-1 col-sm-pull-5 text-left">

            <ol class="breadcrumb hard-sides hard-top text-white mobile-push-half-top">
              <li><a href="/media">Media</a></li>
              <li><a href="/media/series">Series</a></li>
            </ol>

            <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom">
              {{ page.title }}
            </h1>
            <hr class="hero">

            <div class="font-size-base">{{ page.description | markdownify }}</div>
            {% if page.youtube_url %}
              <a href="{{ page.youtube_url}}" target="_blank" class="flush-left btn btn-white btn-outline btn-lg btn-block-mobile">Watch Trailer</a>
            {% endif %}

            <ul class="list-inline soft-half-top">
              <li class="middle">
                <a href="//www.youtube.com/user/crdschurch" role="button" class="btn btn-white btn-subscribe soft-quarter-ends flush d-flex justify-content-between btn-block-mobile {{ include.css }}">
                  <div class="d-flex flex-column push-quarter-right align-items-start btn-text">
                    <span class="font-size-small text-blue push-quarter-bottom">YouTube</span>
                    <span class="font-size-smallest text-blue text-uppercase">Subscribe</span>
                  </div>
                  <svg class="icon text-blue" viewBox="0 0 256 256">
                    <use xlink:href="/assets/svgs/icons.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="social-share-wrapper middle white-faded">
                {% include _media-social-share.html %}
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {% if page.videos.size > 0 %}
        <section class="push-bottom soft-quarter-bottom">
          <h2 class="component-header flush-top">In This Series</h2>
          <div class="cards-3x">
            <div class="row">
              {% for msg_obj in page.videos %}
                {% assign message = site.videos | where: 'slug', msg_obj.slug | first %}
                {% unless message %}
                  {% assign item = site.messages | where: 'slug', msg_obj.slug | first %}
                {% endunless %}
                {% if item or message %}
                  {% include _message-card.html %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </section>
        {% endif %}
      </div>

      <div class="col-sm-10 col-sm-offset-1">
        {% include _subscribe-buttons.html content_type=page youtube=true row=false %}
        <h2 class="component-header flush-bottom soft-half-bottom soft-top text-left push-top">Ways to get involved</h2>
        <div class="card-deck carousel" data-crds-carousel="mobile-scroll">
          <div id="section-what-s-happening" class="feature-cards" data-automation-id="happenings-cards">
            {% assign series_media = site.promos | where: "section", "Media Series Page"  | sort: 'date' | reverse | group_by: 'date' %}
            {% for series_promo in series_media %}
            {% assign series_sorted_promos = series_promo.items | sort: 'title' %}
            {% for item in series_sorted_promos %}
            {% include _promo-card.html %}
            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% javascript_link_tag autoplay %}
