---
layout: default
---

<div class="video-tpl" data-grouping-media-type="video">
  <div class="bg-charcoal">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="push-top soft-top">
            <div class="mobile-flush">
              {% assign video = page %}
              {% assign recommended_collection=site.videos %}
              {% include _video-player.html video="video" %}
            </div>
          </div>
          <header>
            <div class="flush-top">
              <!-- Start breadcrumbs -->
              {% assign url_array = page.url | split: '/' | shift | pop %}
              {% capture url_string %} {{ page.url | replace: '/', " " }}{% endcapture %}
              {% assign url="" %}
              <ol class="breadcrumb text-orange hard-sides">

                {% for breadcrumb in url_array %}
                {% capture first_word %}{{ url_string | truncatewords: 1, "" }}{% endcapture %}
                {% capture url %}{{ url }}/{{ first_word }}{% endcapture %}

                <li><a href="{{ url }}">{{ breadcrumb | replace: '-', ' ' | capitalize }}</a></li>

                {% capture url_string %}{{ url_string | remove_first: first_word }}{% endcapture %}
                {% endfor %}
              </ol>
              <!-- End breadcrumbs -->

              <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom text-white">{{ page.title }}</h1>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row push-ends">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-8 col-lg-9">
            {% assign tabs = 'description timestamps' | split: ' ' %}
            {% assign tabNames = 'Description Contents' | split: ' ' %}
            {% assign templates = 'none _timestamps_tab.html none' | split: ' ' %}
            {% if page.description or page.timestamps %}
            <div id="message-tabs">
              {% include _tabs.html tabs=tabs names=tabNames templates=templates %}
            </div>
            {% endif %}

            <!-- List of contributors -->
            {% if page.author %}
              {% for author_obj in page.author %}
                {% assign author = site.authors | where: 'full_name', author_obj.full_name | first %}
                {% if forloop.first %}<p class="flush-bottom">Featuring{% elsif forloop.last %}and{% else %}&comma;{% endif %} <a data-grouping-media-author="{{ author.full_name | titleize }}" href="{{ author.url }}">{{ author.full_name | titleize }}</a>{% if forloop.last %}</p>{% endif %}
              {% endfor %}
            {% endif %}

            <p>{{ page.published_at | format_date }} {% if page.duration != nil %} <span class="divider push-quarter-sides">•</span>
              {% include _read-time.html duration=page.duration content_type='video' %} {% endif %}</p>


            <div class="soft-half-top push-top">
              {% include _media-social-share.html %}
            </div>

            <!-- Only 1 topic per page -->
            {% assign topic = site.categories | where: 'slug', page.category.slug | first %}
            {% include _topic.html %}

            <!-- Page can have many tags -->
            {% include _tags_list.html tags=page.tags %}
          </div>
          <div class="col-md-4 col-lg-3 sm-text-left soft-half-top">
            {% include _subscribe-buttons.html content_type=page youtube=true row=false subscribe=false %}
            <!-- 30 Day Challenge CTA -->
            <a href="//www.crossroads.net/tvapp/" class="portrait-card-default small-cta-default"
              style="background-image: url('//crds-media.imgix.net/1ZOn0vFpOE5Zqd8PqMxKvC/3a48bf03c46eb64a4c7427714d0444e6/ad--tv-app--portrait-card--bg_2x.png?auto=format,compress&w=1600')"
              data-optimize-bg-img>
              <div class="portrait-card-content hard-bottom">
                <h3 class="font-family-condensed-extra font-size-h3 text-white text-uppercase flush">Crossroads TV</h3>
                <div class="d-flex">
                  <p class="font-family-base-light font-size-base text-white">Get the app</p>
                  <svg class="icon icon-1 text-white" viewBox="0 0 256 256" style="margin-top: 7px; margin-left: 4px;">
                    <use xlink:href="/assets/svgs/icons.svg#chevron-right-thin"></use>
                  </svg>
              </div>
              </div>
            </a>
            <!-- End CTA-->
          </div>
        </div>
      </div>
    </div>

    {% if site.videos %}
    <div class="push-top soft-top row">
      <section class="col-md-10 col-md-offset-1">
        <h2 class="component-header flush-top">{% if topic %}Related{% else %}Recent{% endif %} Videos</h2>

        {% if videos.size == 0 %}
        <p class="font-family-base soft-ends push-bottom">Related messages will be here soon!</p>
        {% else %}

        <div class="cards-3x cards-2x-xs">
          <div class="row">
            {% if topic %}
            {% assign limited = site.videos | filter: 'category.title', topic.title | reverse | exclude: page.title |
            slice: 0, 9 %}
            {% if limited.size == 0 %}
            {% assign limited = site.videos | reverse | exclude: page.title | slice: 0, 9 %}
            {% endif %}
            {% else %}
            {% assign limited = site.videos | reverse | exclude: page.title | slice: 0, 9 %}
            {% endif %}

            {% for video in limited %}
            {% include _video-card.html autoplay=false %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </section>
    </div>
    {% endif %}
  </div>
</div>

{% javascript_link_tag autoplay %}
