<section>
  <div class="jumbotron jumbotron-xl inline-video bg-video grid-overlay flush jumbotron-home" style="top: -1.5rem; background-image: url('//crds-media.imgix.net/47HugzxZ1gGwfdZg2JSFNC/e047f199c71a18f3d9b2ef8af06cc6c0/crossroads-collage-new2.jpg?{{ site.imgix_params.placeholder_sixteen_nine }}');" data-optimize-bg-img>
    <div class="inline-video-player"></div>
    <div class="bg-video-player">
      <video
        width="1800"
        height="1013"
        class="bg-jumbotron-video hide"
        autoplay="autoplay"
        loop="loop"
        muted
        playsinline
        src="https://videos.ctfassets.net/y3a9myzsdjan/1dlAxfTYOpooJHCljHKwaO/d752149378a462ec274803c1184eee68/spiritual-outfitters-loop-comp.mp4"
      ></video>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          {% assign jumbotron_content = site.content_blocks | where: 'slug', 'home-jumbotron-content' | first %}
          {{ jumbotron_content.content_block }}
        </div>
      </div>
    </div>
  </div>
</section>
